straight/*
auto-save-list/*
README.el
auto-save-list/
org-roam.db
personal.el
recentf
undo-tree/
backups/*
elpa/*
request/*
transient/*
elpy/*
bookmarks
company-statistics-cache.el
eln-cache/*
.org-id-locations*
/.lsp-session-v1
