straight/*
auto-save-list/*
README.el
auto-save-list/
org-roam.db
personal.el
local.el
local.el.gpg
eid-local.el
.eid-local.el
secrets.el
secrets.el.gpg
recentf
undo-tree/
backups/*
elpa/*
request/*
transient/*
elpy/*
bookmarks
company-statistics-cache.el
eln-cache/*
.org-id-locations*
/.lsp-session-v1
bak*
*.elc
elfeed/
